<web-app>
<welcome-file-list>  
   <welcome-file>firstpage.html</welcome-file>  
</welcome-file-list>  

<servlet>
<servlet-name>check</servlet-name>
<servlet-class>check</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>check</servlet-name>
<url-pattern>/check</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>check2</servlet-name>
<servlet-class>check2</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>check2</servlet-name>
<url-pattern>/check2</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>check3</servlet-name>
<servlet-class>check3</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>check3</servlet-name>
<url-pattern>/check3</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>check4</servlet-name>
<servlet-class>check4</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>check4</servlet-name>
<url-pattern>/check4</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>check5</servlet-name>
<servlet-class>check5</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>check5</servlet-name>
<url-pattern>/check5</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>start</servlet-name>
<servlet-class>start</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>start</servlet-name>
<url-pattern>/start</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>view</servlet-name>
<servlet-class>view</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>view</servlet-name>
<url-pattern>/view</url-pattern>
</servlet-mapping>

</web-app>